[data-bs-theme="dark"] {
    --cursor-color: white;
    --subheading-color: #bfbfbf;
    --highlight-color: rgb(181, 173, 73);
    --footer-background: #1b1f22;
}

[data-bs-theme="light"] {
    --cursor-color: black;
    --subheading-color: #7f7f7f;
    --highlight-color: rgb(181, 173, 73);
    --footer-background: #f2f2f2;
}


body {
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 0.1rem;
}

header {
    padding: 25px;
}

main {
    padding: 10px 15%;
}

footer {
    padding: 10px;
    font-size: 16px;
    background: var(--footer-background)
}

.green {
    color: white;
    background-color: darkgreen;
}

.green:hover {
    background-color: green;
    color: gainsboro
}

#nav {
    padding-bottom: 50px
}

.heading {
    width: fit-content;
}

.project {
    padding: 20px 0;
}

.mobile-hidden {
    display: none;
}

.selected {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.type-cursor {
    width: fit-content;
    border-right: 0.1em solid transparent;
    white-space: nowrap;
    overflow: hidden;
    animation:
        blink-cursor 1s step-end infinite;
}

.subheading {
    color: var(--subheading-color)
}

.bold {
    font-weight: bolder;
    color: var(--highlight-color)
}

.fade-in {
    animation:
            fade-in 0.65s linear,
            slide-up 0.65s linear;
        animation-fill-mode: backwards;
}

*:hover > .arrow-animate {
    animation: arrow-animate 1s linear infinite;
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: var(--cursor-color); }
}

@keyframes arrow-animate {
    from, to { padding-left: 0; }
    50% { padding-left: 5px }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .mobile-hidden {
        display: block;
    }
}